[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycocotools = "*"
torch = "*"
torchvision = "*"
matplotlib = "*"
numpy = "*"
python-opencv = "*"
Pillow = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.7"
